.model {
    height: 250px;
    display: flex;
    background-color: lightgrey;
}

.variables {
    border-radius: 25px;
    height: 200px;
    width: 20% ;
    display: table-cell;    
    background-color: wheat;
    padding: 5px;
    margin: 2px;
    margin-left: 20px;
    margin-top: 20px;
}

.constraints {
    border-radius: 25px;
    height: 200px;
    width: 30% ;
    display: table-cell;
    background-color: wheat;
    padding: 5px;
    margin: 2px;
    margin-left: 20px;
    margin-top: 20px;
}

.objective {
    border-radius: 10px;
    height: 40px;
    width: 90% ;
    background-color: wheat;
    margin-left: 20px;
    margin-top: 20px;
}

.data {
    border-radius: 10px;
    height: 145px;
    width: 90% ;
    background-color: wheat;
    margin-left: 20px;
    margin-top: 20px;
}

.objective-data-container{
    width: 45%;

}

.modeltext {
    font-family: Papyrus;
}
